/* .o_form_view {
    background-color: #ffffff; 
}
.o_field_widget {
    background-color: #ffffff;
} */

.article-sheet-style {
    background-color: #f5f5f5c4; 
}

.custom-text-field .o_field_widget {
    background-color: #ffffff; /* Change this to your desired background color */
    color: #000000; /* Change this to your desired text color */
}
